<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Hello World!</title>
<script type="text/javascript" src="./jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="./ajaxUpload.js"></script>
</head>
<body>
	用户名<input id="userCode" type="text" name="userCode"/><br/>
	图片分类<input id="category" type="text" name="category"/><br/>
	<input id="cert" type="file" />&nbsp;&nbsp;重命名为&nbsp;&nbsp;<input id="fileNewName" type="text" name="fileNewName"/><br/>
	<input type="button" value="上传" onclick="submit2();" />
</body>
</html>